@model IEnumerable<ONGManager.Models.CadastroAnimal>

<h2 class="title-area">Conheça seu novo amigo:</h2>



<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Raca</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.nome</td>
                <td>@item.idade</td>
                <td>@item.raca</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.id">Detalhes</a> |
                    <a asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    <div class="row row-cols-4">
        <div class="col">
            <div class="image-area">
                <img src="~/assets/fotoPet.png" alt="">
            </div>
            <div class="info-area">
                <div class="animal-info">
                    <div class="animal-icon">
                        <img src="~/assets/icone cachorro.png" alt="">
                    </div>
                    <div class="animal-text">Princesa Leia, SRD, 3 anos</div>
                </div>
                <div class="animal-location">
                    <div class="animal-icon">
                        <img src="~/assets/icone localização.png" alt="">
                    </div>
                    <div class="animal-text">Limeira, SP</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="image-area">
                <img src="~/assets/fotoPet.png" alt="">
            </div>
            <div class="info-area">
                <div class="animal-info">
                    <div class="animal-icon">
                        <img src="~/assets/icone cachorro.png" alt="">
                    </div>
                    <div class="animal-text">Princesa Leia, SRD, 3 anos</div>
                </div>
                <div class="animal-location">
                    <div class="animal-icon">
                        <img src="~/assets/icone localização.png" alt="">
                    </div>
                    <div class="animal-text">Limeira, SP</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="image-area">
                <img src="~/assets/fotoPet.png" alt="">
            </div>
            <div class="info-area">
                <div class="animal-info">
                    <div class="animal-icon">
                        <img src="~/assets/icone cachorro.png" alt="">
                    </div>
                    <div class="animal-text">Princesa Leia, SRD, 3 anos</div>
                </div>
                <div class="animal-location">
                    <div class="animal-icon">
                        <img src="~/assets/icone localização.png" alt="">
                    </div>
                    <div class="animal-text">Limeira, SP</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="image-area">
                <img src="~/assets/fotoPet.png" alt="">
            </div>
            <div class="info-area">
                <div class="animal-info">
                    <div class="animal-icon">
                        <img src="~/assets/icone cachorro.png" alt="">
                    </div>
                    <div class="animal-text">Princesa Leia, SRD, 3 anos</div>
                </div>
                <div class="animal-location">
                    <div class="animal-icon">
                        <img src="~/assets/icone localização.png" alt="">
                    </div>
                    <div class="animal-text">Limeira, SP</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-4">
        <div class="col">
            <div class="image-area">
                <img src="~/assets/bela 1.png" alt="">
            </div>
            <div class="info-area">
                <div class="animal-info">
                    <div class="animal-icon">
                        <img src="~/assets/icone gato.png" alt="">
                    </div>
                    <div class="animal-text">Bela, SRD, 5 anos</div>
                </div>
                <div class="animal-location">
                    <div class="animal-icon">
                        <img src="~/assets/icone localização.png" alt="">
                    </div>
                    <div class="animal-text">Iracemápolis, SP</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="image-area">
                <img src="~/assets/bela 1.png" alt="">
            </div>
            <div class="info-area">
                <div class="animal-info">
                    <div class="animal-icon">
                        <img src="~/assets/icone gato.png" alt="">
                    </div>
                    <div class="animal-text">Bela, SRD, 5 anos</div>
                </div>
                <div class="animal-location">
                    <div class="animal-icon">
                        <img src="~/assets/icone localização.png" alt="">
                    </div>
                    <div class="animal-text">Iracemápolis, SP</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="image-area">
                <img src="~/assets/bela 1.png" alt="">
            </div>
            <div class="info-area">
                <div class="animal-info">
                    <div class="animal-icon">
                        <img src="~/assets/icone gato.png" alt="">
                    </div>
                    <div class="animal-text">Bela, SRD, 5 anos</div>
                </div>
                <div class="animal-location">
                    <div class="animal-icon">
                        <img src="~/assets/icone localização.png" alt="">
                    </div>
                    <div class="animal-text">Iracemápolis, SP</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="image-area">
                <img src="~/assets/bela 1.png" alt="">
            </div>
            <div class="info-area">
                <div class="animal-info">
                    <div class="animal-icon">
                        <img src="~/assets/icone gato.png" alt="">
                    </div>
                    <div class="animal-text">Bela, SRD, 5 anos</div>
                </div>
                <div class="animal-location">
                    <div class="animal-icon">
                        <img src="~/assets/icone localização.png" alt="">
                    </div>
                    <div class="animal-text">Iracemápolis, SP</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-4">
        <div class="col">
            <div class="image-area">
                <img src="~/assets/fotoPet.png" alt="">
            </div>
            <div class="info-area">
                <div class="animal-info">
                    <div class="animal-icon">
                        <img src="~/assets/icone cachorro.png" alt="">
                    </div>
                    <div class="animal-text">Princesa Leia, SRD, 3 anos</div>
                </div>
                <div class="animal-location">
                    <div class="animal-icon">
                        <img src="~/assets/icone localização.png" alt="">
                    </div>
                    <div class="animal-text">Limeira, SP</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="image-area">
                <img src="~/assets/fotoPet.png" alt="">
            </div>
            <div class="info-area">
                <div class="animal-info">
                    <div class="animal-icon">
                        <img src="~/assets/icone cachorro.png" alt="">
                    </div>
                    <div class="animal-text">Princesa Leia, SRD, 3 anos</div>
                </div>
                <div class="animal-location">
                    <div class="animal-icon">
                        <img src="~/assets/icone localização.png" alt="">
                    </div>
                    <div class="animal-text">Limeira, SP</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="image-area">
                <img src="~/assets/fotoPet.png" alt="">
            </div>
            <div class="info-area">
                <div class="animal-info">
                    <div class="animal-icon">
                        <img src="~/assets/icone cachorro.png" alt="">
                    </div>
                    <div class="animal-text">Princesa Leia, SRD, 3 anos</div>
                </div>
                <div class="animal-location">
                    <div class="animal-icon">
                        <img src="~/assets/icone localização.png" alt="">
                    </div>
                    <div class="animal-text">Limeira, SP</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="image-area">
                <img src="~/assets/fotoPet.png" alt="">
            </div>
            <div class="info-area">
                <div class="animal-info">
                    <div class="animal-icon">
                        <img src="~/assets/icone cachorro.png" alt="">
                    </div>
                    <div class="animal-text">Princesa Leia, SRD, 3 anos</div>
                </div>
                <div class="animal-location">
                    <div class="animal-icon">
                        <img src="~/assets/icone localização.png" alt="">
                    </div>
                    <div class="animal-text">Limeira, SP</div>
                </div>
            </div>
        </div>
    </div>

        <div class="row row-cols-4">
        <div class="col">
            <div class="image-area">
                <img src="~/assets/bela 1.png" alt="">
            </div>
            <div class="info-area">
                <div class="animal-info">
                    <div class="animal-icon">
                        <img src="~/assets/icone gato.png" alt="">
                    </div>
                    <div class="animal-text">Bela, SRD, 5 anos</div>
                </div>
                <div class="animal-location">
                    <div class="animal-icon">
                        <img src="~/assets/icone localização.png" alt="">
                    </div>
                    <div class="animal-text">Iracemápolis, SP</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="image-area">
                <img src="~/assets/bela 1.png" alt="">
            </div>
            <div class="info-area">
                <div class="animal-info">
                    <div class="animal-icon">
                        <img src="~/assets/icone gato.png" alt="">
                    </div>
                    <div class="animal-text">Bela, SRD, 5 anos</div>
                </div>
                <div class="animal-location">
                    <div class="animal-icon">
                        <img src="~/assets/icone localização.png" alt="">
                    </div>
                    <div class="animal-text">Iracemápolis, SP</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="image-area">
                <img src="~/assets/bela 1.png" alt="">
            </div>
            <div class="info-area">
                <div class="animal-info">
                    <div class="animal-icon">
                        <img src="~/assets/icone gato.png" alt="">
                    </div>
                    <div class="animal-text">Bela, SRD, 5 anos</div>
                </div>
                <div class="animal-location">
                    <div class="animal-icon">
                        <img src="~/assets/icone localização.png" alt="">
                    </div>
                    <div class="animal-text">Iracemápolis, SP</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="image-area">
                <img src="~/assets/bela 1.png" alt="">
            </div>
            <div class="info-area">
                <div class="animal-info">
                    <div class="animal-icon">
                        <img src="~/assets/icone gato.png" alt="">
                    </div>
                    <div class="animal-text">Bela, SRD, 5 anos</div>
                </div>
                <div class="animal-location">
                    <div class="animal-icon">
                        <img src="~/assets/icone localização.png" alt="">
                    </div>
                    <div class="animal-text">Iracemápolis, SP</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center ">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item"><a href="#" class="page-link"><</a></li>
            <li class="page-item"><a href="#" class="page-link">1</a></li>
            <li class="page-item selected"><a href="#" class="page-link">2</a></li>
            <li class="page-item"><a href="#" class="page-link">3</a></li>
            <li class="page-item"><a href="#" class="page-link">...</a></li>
            <li class="page-item"><a href="#" class="page-link">9</a></li>
            <li class="page-item"><a href="#" class="page-link">10</a></li>
            <li class="page-item"><a href="#" class="page-link">></a></li>
        </ul>
    </nav>
</div>