@model IEnumerable<ONGManager.Models.CadastroAnimal>

<h2>Conheça seu novo amigo:</h2>

<a asp-action="Create">Criar</a>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Raca</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.nome</td>
                <td>@item.idade</td>
                <td>@item.raca</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.id">Detalhes</a> |
                    <a asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
